@model LibraryServices.Person

@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>UserAccount</h2>
<ul>
    <li><h2>@Html.ActionLink("Избранные песни", "UserSounds")</h2></li>
    <li><h2>@Html.ActionLink("Мои плей-листы", "UserPlayLists")</h2></li>
    <li><h2>@Html.ActionLink("Редактирование Акаунта", "Setting")</h2></li>
    <li><h2>@Html.ActionLink("Выход", "Exit")</h2></li>
</ul>