
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>AdminPage</h2>
@Html.ActionLink("Загрузить песню", "Upload", "Admin")
@Html.ActionLink("Создать Плей лист", "PlayListCreating", "Admin")
@Html.ActionLink("Exit", "Exit", "Home")